<div class="container-degradado"> 
    <div class="container-sm">
        <form >
            <h1>Iniciar Sesión</h1>
            <img src="../../../assets/imagenes/5087579.png" alt="Imagen de login" class="imagen-login">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="d-grid gap-2">
                <button class="btn btn-outline-success" type="button" (click)="redirigirHome()">Iniciar Sesión</button>
                <button class="btn btn-outline-secondary" type="button" (click)="redirigirRegistro()">Registrarse</button>
            </div>
        </form>
    </div>   
</div>
